.layui-bg-black,.layui-nav{background-color:#116a90;}
.layui-nav-itemed>a{background-color:#116a90!important;}
.layui-layout-admin .layui-header{border-bottom:none;}
.layui-header{height:auto;}
.layui-layout-admin .layui-body{top:84px;}
.layui-layout-admin .layui-side{top:84px;}
.layui-nav-tree .layui-nav-bar{background-color:#116a90;}
.tab-index.layui-tab-title{background-color: #eee;min-height: 50px;/*overflow: hidden;*/}
.tab-index.layui-tab-title li{top:10px;padding:0 10px 0 5px;border:1px #ddd solid;background-color:#efefef;border-bottom:none;
border-radius: 2px 2px 0 0;margin:0 1px;color:#999;}
.admin-nav-card>.layui-tab-title .layui-this{color:#000;background-color:#fff;}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, 
.layui-nav-tree .layui-this>a:hover{background-color:#247ba0;}
.layui-nav-tree .layui-nav-item a:hover{background-color: #247ba0;}
.layui-side-scroll{width:200px;}
.layui-side-scroll::-webkit-scrollbar{display: none;}
.layui-side-scroll .layui-nav{padding-top:37px;}
.layui-nav-tree .layui-nav-item a{color:#64a2bd;}
.layui-layer-page .layui-layer-btn{border-top:1px #ccc solid;}
.layui-layer-btn a.layui-layer-btn0{color:#247a9f;border:none;background:none;font-size: 18px;letter-spacing: 1px;}
.layui-form-label{width:auto;}
.layui-input, .layui-select, .layui-textarea{border:1px #c2c2c2 solid;border-radius: 0;}
.layui-layer .layui-layer-title{text-align: center;font-size: 18px;color:#333;border-bottom:none;font-weight: bold;border-radius: 10px;}
.layui-layer{border-radius: 10px!important;}
.layui-form-mid{font-size:16px;color:#247a9f;}
.layui-btn .layui-icon{vertical-align: baseline;}
.layui-tab-content{min-height: 200px;}
.layui-tree li a cite{font-size:15px;}
.layui-tree li ul{padding-left:20px;margin-left:0;}
.form-side-box .layui-tree{border:1px #c2c2c2 solid;min-height:500px;margin-right:-1px;padding:15px;border-radius: 5px 0 0 5px;}
.layui-tree li{line-height: 30px;}
.layui-form-item .layui-input-inline{width:auto;}
.layui-form-mid{cursor:pointer!important;}
/*.layui-tab-card>.layui-tab-title .layui-tab-bar{display: none;}*/
